# Runmeng Qin

## Research question/interests

## How effective are SPI ratings as the only predictor of match outcomes in the 2022 World Cup, and how does their accuracy change over the course of the tournament as more teams advance?

#### Each team has SPI ratings for each game,  which are a combination of each team's recent match results and the overall quality of its World Cup roster.  I'd be curious to see how well SPI ratings alone predicted the winner versus the real score, and whether that accuracy improves as more teams advance. 

#### I'm going to do is clean the data(wc_matches.csv) and group separate datasets by game date and team. I will use the columns of 'date', 'team1', 'team2', 'spi1', 'spi2', 'score1', 'score2' as the data basis for my research question. These data should be able to support my research question by comparing the relationship between team, spi and score under different dates.In addition, the potential relationship can be analyzed based on the score and spi ratio between the two teams in each match.

#### SPI is based on goals scored and allowed, not wins, losses and draws. Therefore, through the following analysis, the relationship between pre-match spi and post-match score can be observed.

In [ ]:
import pandas as pd
df=pd.read_csv("https://projects.fivethirtyeight.com/soccer-api/international/2022/wc_matches.csv")

In [ ]:
df_use=df[['date','team1','team2','spi1','spi2','score1','score2']]

In [ ]:
df_use.head()

         date      team1         team2   spi1   spi2  score1  score2
0  2022-11-20      Qatar       Ecuador  51.00  72.74       0       2
1  2022-11-21    England          Iran  85.96  62.17       6       2
2  2022-11-21    Senegal   Netherlands  73.84  86.01       0       2
3  2022-11-21        USA         Wales  74.83  65.58       1       1
4  2022-11-22  Argentina  Saudi Arabia  87.21  56.87       1       2