# Tony Ngo

## Research question/interests

How accurate are the predictions of likelihood of predicted goals scored by each team? What is the relationship between the likelihood of scoring with winning matches?

Taking a look at expected goals scored in relation with match winning success using metrics including simulated goal difference, expected goals scored, expected goals against, and more. Analyzing how expected number of goals scored lead to different outcomes for each team.

In [ ]:
import pandas as pd
df=pd.read_csv("https://projects.fivethirtyeight.com/soccer-api/international/2022/wc_matches.csv")
     

df_use=df[['team1','team2','spi1','spi2','score1','score2','xg1','xg2','nsxg1','nsxg2','adj_score1','adj_score2']]
  
df=pd.read_csv("https://projects.fivethirtyeight.com/soccer-api/international/2022/wc_forecasts.csv")
df_use=df[['team','spi','global_o','global_d','sim_wins','sim_ties','sim_losses','sim_goal_diff','goals_scored','goals_against','group_1','group_2','group_3','group_4','make_round_of_16','make_quarters','make_semis','make_final','win_league']]
df_use.head(9)

,team,spi,global_o,global_d,sim_wins,sim_ties,sim_losses,sim_goal_diff,goals_scored,goals_against,group_1,group_2,group_3,group_4,make_round_of_16,make_quarters,make_semis,make_final,win_league
0,Argentina,89.64860,2.83610,0.39397,2.0,0.0,1.0,3.0,5.0,2.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
1,France,88.30043,2.96765,0.54381,2.0,0.0,1.0,3.0,6.0,3.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
2,Morocco,73.16416,1.74313,0.53433,2.0,1.0,0.0,3.0,4.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
3,Croatia,78.82038,2.20264,0.60290,1.0,2.0,0.0,3.0,4.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
4,England,87.82131,2.71564,0.44261,2.0,1.0,0.0,7.0,9.0,2.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
5,Netherlands,83.97533,2.52711,0.54940,2.0,1.0,0.0,4.0,5.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
6,Portugal,87.02373,2.78069,0.52262,2.0,0.0,1.0,2.0,6.0,4.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
7,Brazil,93.18946,3.12200,0.28266,2.0,0.0,1.0,2.0,3.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
8,Japan,75.96229,2.04074,0.62372,2.0,0.0,1.0,1.0,4.0,3.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0